@charset "UTF-8";

body{
    font-family: sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: pink;
    text-decoration: underline;
}
a::after{
    content: ' link';
    text-decoration: none;
    font-weight: bold;
    color: purple;
}
a.special::before{
    content: ' ♦ ';
    color: red;
}

a.special::after{
content: ' ♦ ';
color: red;
}

    